// GENERAL 
$c--primary: #072112;
$c--accent: #3a7b68;
$c--secondary: #789699;
$c--general-background: #f1f1f1;
$c--general-border: #bebebe;
$c--active-link: #5476c2;
$c--caption-text: #9b9b9b;
$c--figure-base: #7F7F7F;
$c--figure-teeter: #4f000f;
$c--figure-1: #ff6a9a;
$c--figure-2: #5b6cff;
$c--figure-3: #40ffb1;
$c--figure-4: #b5ff59;
$c--figure-5: #ff9155;
