// GENERAL 
$c--primary: #072112;
$c--accent: #3a7b68;
$c--secondary: #789699;
$c--general-background: #f1f1f1;
$c--general-border: #bebebe;
$c--active-link: #5476c2;
$c--caption-text: #9b9b9b;
$c--main-green: #2dae2a;
$c--main-red: #ae3943;
